.mypopup {
	position: relative;
}

.myTopPopup,
.mySubPopup {
	display: none;
}

.rootMenu {
	outline: none;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  z-index: 1050;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  color: #666;
  background: #fff;
  line-height: 30px;
}

.topMenu {
	padding: 0;
  font-size: 12px;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menuItem {
	display: none;
}

.topMenu-title,
.menuItem-title {
  margin: 0;
  position: relative;
  display: block;
  white-space: nowrap;
}

.topMenu-title {
	padding: 0 30px;
	border: solid #e8e8e8 1px;
}

.menuItem-title {
	padding: 0 40px;
}

.topMenu-title:before,
.menuItem-title:before {
  font-family: "anticon" !important;
  font-style: normal;
  vertical-align: baseline;
  text-align: center;
  text-transform: none;
  text-rendering: auto;
  position: absolute;
  transition: transform .3s ease;
  content: "\E61D";
  top: 0;
  display: inline-block;
  font-size: 12px;
  font-size: 8px \9;
  transform: scale(0.66666667) rotate(270deg);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=1, M12=0, M21=0, M22=1)";
  zoom: 1;
}

.topMenu-title:before {
	left: 10px;
}
.menuItem-title:before {
	left: 20px;
}

.topMenu-open > .topMenu-title:before,
.menuItem-open > .menuItem-title:before {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
    transform: rotate(0deg) scale(0.75);
}

.items {
	padding: 0 40px;
}

.topMenu-title:hover,
.menuItem-title:hover,
.items:hover {
	background-color: #dff0fe;
}



