.ant-tabs-nav-container {
	background-color: #eee;
	overflow: visible;
}

.ant-tabs-nav .ant-tabs-tab .anticon {
	margin: 0;
}

.ant-tabs-nav .my-tabs-tab {
	padding: 3px 8px;
	background-color: #f8f8f8;
}

.ant-tabs-nav .ant-tabs-tab-active {
	background-color: #fff;
}

.my-tabs-tab-title {
	margin: 0 8px 0 0;
}

.add-tabs-button {
	padding: 0 8px;
	display: inline-block;
	cursor: pointer;
}

.add-tabs-overflow {
	float: right;
	display: block;
	position: relative;
}

.add-tabs-overflow-text {
	line-height: 27px;
	cursor: pointer;
}
	
.add-tabs-addon-lists {
	position: absolute;
  z-index: 1000;
  right: 0;
  max-height: 500px;
  overflow: visible;
  border: 1px solid rgba(0,0,0,.15);
  padding: 3px 8px;
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  animation: dropdownopen .3s ease-out;
}

.add-tabs-addon-lists:before {
  right: 12px;
  position: absolute;
  top: -7px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: #fff;
  content: '';
}

@keyframes dropdownopen {
	0% {display: none}
	100% {display: block}
}

.add-tabs-addon-item {
	cursor: pointer;
}
